@font-face{ font-family:'Paperlogy'; font-weight:300; font-display:swap;
  src:url('../fonts/Paperlogy-3Light.woff2') format('woff2'); }
@font-face{ font-family:'Paperlogy'; font-weight:500; font-display:swap;
  src:url('../fonts/Paperlogy-5Medium.woff2') format('woff2'); }
@font-face{ font-family:'Paperlogy'; font-weight:700; font-display:swap;
  src:url('../fonts/Paperlogy-7Bold.woff2') format('woff2'); }
